name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/djibril-marega/portfolio:latest

      # Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Login
        run: terraform login
        env:
          TERRAFORM_TOKEN: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform -chdir=terraform init

      - name: Terraform Plan
        run: terraform -chdir=terraform plan

      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve

      - name: Get Terraform output
        id: tf_output
        run: echo "EC2_HOSTNAME=$(terraform output -raw instance_app_hostname)" >> $GITHUB_ENV

      # Ansible
      - name: Save Docker image to tar
        run: docker save ghcr.io/djibril-marega/portfolio:latest -o portfolio.tar

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Ansible
        run: |
          pip install ansible
          ansible-galaxy collection install community.docker

      - name: Create SSH key file
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > ./ec2_key.pem
          chmod 600 ./ec2_key.pem

      - name: Run Ansible Playbook
        run: |
          ansible-playbook ansible/playbook.yml \
            -i "${EC2_HOSTNAME}," \
            --user ubuntu \
            --private-key ./ec2_key.pem

